/.DS_Store
**/.DS_Store

/laravel/.env
/laravel/.env.*
/laravel/vendor
/laravel/node_modules
/laravel/composer.lock
/laravel/package-lock.json
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/logs/*.log
/laravel/.phpunit.cache
/laravel/.phpunit.result.cache
/laravel/database/*.sqlite
/laravel/database/*.db
/public_html/storage
